<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
         <add name="Python FastCGI" path="*" verb="*"
              modules="FastCgiModule"
              scriptProcessor="C:\inetpub\wwwroot\UM_Builder_stage\env\Scripts\python.exe|C:\Python37\Lib\site-packages\wfastcgi.py"
              resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
      <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />

      <add key="MS_DEPLOY_EXE" value="C:\Program Files (x86)\IIS\Microsoft Web Deploy V3\msdeploy.exe" />

      <add key="TASK_EXECUTOR_URL" value="http://localhost:9009" />
      <add key="IDXS" value="C:\UnidataManager_stage\idxs"/>

      <add key="DJANGO_KEY"     value="3$61v%%x)eobl2a-f9-2h9zn$x^ugifxm8=ew+2fpn9(0+_w9m" />
      <add key="OPENCENSUS_KEY" value="" />

      <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="" />

      <add key="DJANGO_SETTINGS_MODULE" value="Builder.settings.prod" />
      <add key="DJANGO_LOG_LEVEL" value="WARNING" />

      <add key="WSGI_RESTART_FILE_REGEX" value="" />
      <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />

      <add key="DJANGO_LOG" value="C:\inetpub\logs\UM_Builder_stage.log" />
      <add key="WSGI_LOG"   value="C:\inetpub\logs\UM_Builder_stage_WSGI.log" />
    </appSettings>
</configuration>
